<p>
  Your order is: @ViewBag.OrderType
</p>
<br/>
<div>
  Pizza Details:<br/>
  <ul>
    <li>Name: @ViewBag.Name</li>
    <li>Crust: @ViewBag.Crust</li>
    <li>Size: @ViewBag.Size</li>
    <li>Price: @ViewBag.Price</li>
  </ul>
</div>
